keras
tensorflow==2.13 
pandas
streamlit
pillow
openai
image-analysis==0.1.0  # o la versión correcta si hay alguna específica
st-pages==0.1.0  # o la versión correcta si hay alguna específica
streamlit-option-menu==0.3.2  # o la versión más reciente compatible con tu entorno
streamlit-shadcn-ui==0.0.4  # o la versión correcta si hay alguna específica
streamlit-extras==0.1.0  # o la versión correcta si hay alguna específica
streamlit-card==0.1.0  # o la versión correcta si hay alguna específica
