keras
tensorflow==2.13
pandas
streamlit
Pillow
st-pages
streamlit-option-menu
streamlit-shadcn-ui
streamlit-extras
streamlit-card
numpy
image_analysis  # Asegúrate de que este paquete exista o reemplázalo con el nombre correcto
